# Bỏ qua môi trường ảo Python
venv/
.venv/
env/

# Bỏ qua các file cache tự sinh
**/__pycache__/
*.pyc

# Bỏ qua file cấu hình bảo mật chứa password database và token Cloudinary
.env
mongo.py

mongo_add_collection.py